{{define "title"}} Change Password {{end}}

{{define "main"}}
<form action="/account/password/update" method="POST">
    <div>
        <label for="currentPassword">Current Password:</label>
        {{with .Form.FieldErrors.currentPassword}}
            <label class="error">{{.}}</label>
        {{end}}
        <input type="password" name="currentPassword">
    </div>
    <div>
        {{with .Form.FieldErrors.newPassword}}
            <label class="error">{{.}}</label>
        {{end}}
        <label for="newPassword">New Password:</label>
        <input type="password" name="newPassword">
    </div>
    <div>
        {{with .Form.FieldErrors.confirmPassword}}
            <label class="error">{{.}}</label>
        {{end}}
        <label for="confirmPassword">Confirm Password:</label>
        <input type="password" name="confirmPassword">
    </div>
    <div></div>
        <input type="submit" value="Change Password">
    </div>
</form>
{{end}}